extend ../base/base.pug
include ../components/modal.pug
include ../components/carousels.pug
include ../components/listFilter.pug
include ../components/product.pug

mixin titleSection(title,attribute)
    .titleSection.py-5.d-flex.justify-content-between
        div.d-flex
            img.mt-2(src="./assets/images/4-black-squares.svg", alt="").d-block
            p.pl-2.m-0= title
        - var title = 0
        while (title++ < 3)
            div(class=`${title == 1 ? 'btnDesktop' : ''} ${title == 2 ? 'btnLaptop' : ''} ${title == 3 ? 'btnMobile' : ''} titleSection__btn `)
                a(href=`#${title == 1 ? 'carouselProduct' :`${title==2 ? 'carouselProduct1' : 'carouselProduct2'}`}` data-slide="prev")
                    i.fas.fa-caret-left
                a.ml-1(href=`#${title == 1 ? 'carouselProduct' :`${title==2 ? 'carouselProduct1' : 'carouselProduct2'}`}` data-slide="next")
                    i.fas.fa-caret-right
block content
    main.my-5
        section.modal__home
            +modalHome
        .banner__main
            .container
                .row
                    .col-lg-8.pr-0.col-md-12
                        +carouselsHome()
                    .col-lg-4.pl-0.col-md-12
                        .banner__main-devices.border.h-100
                            each device,index in devices
                                .device__item.d-flex.px-3.pt-3
                                    span.my-auto.pr-4
                                        i(class=`${device.icon}`)
                                    .device__item-content
                                        p= device.title
                                        span= device.content
        .main__productHots
            .container
                .row
                    .col-lg-12
                        +titleSection("SẢN PHẨM NỔI BẬT")
                .row
                    .col-lg-3.col-md-12.productHost__filter
                        ul.listFilter
                            li.filter--title
                                .d-flex.position-relative.align-items-center.justify-content-between
                                    div.d-flex.p-3
                                        i.mt-2.fas.fa-th-large
                                        p.pl-2 MÁY KHOAN, CẮT CNC
                                    a(href="#filter" data-toggle="collapse").pr-2.text-yellow
                                        i.fas.fa-chevron-down
                            +listFilter
                        #filter.collapse
                            +listFilter
                    .col-lg-9.col-md-12.container
                        .row
                            +carouselProduct(products,6,"carouselProduct","desktopCarousel")
                            +carouselProduct(products,2,"carouselProduct1","laptopCarousel")
                            +carouselProduct(products,1,"carouselProduct2","mobileCarousel")
                           
